*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;  
    background:wheat;
}

#mainhead{
    
    background:rgb(39, 28, 92);
    height: 0%;
}

#img1{
    padding:0;
    margin-left: 20px;
}

#box{
    display: flex;
    align-items: center;
    background: #000;
    width: 100%;
    height: 120px;
}
#newone{
    display: flex;
    align-items: center;
    justify-items:center;
    margin: 20px;;
}

.square{
    display: flex;
    margin: auto;
    
}

#square1{
    width: 20%;
    height: 500px;
    position: relative;      
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);

    
}
#square2{
    width: 20%;
    height: 500px;
    position: relative;      
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
}
#square3{
    width: 20%;
    height: 500px;
    position: relative;      
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
}
#square4{
    width: 20%;
    height: 500px;
    position: relative;      
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
}
#square5{
    width: 20%;
    height: 500px;
    position: relative;      
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
}

#cristiano h1{
    margin: auto;
    width: 20%;
}

.square div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.square div:hover img{
    transform: scale(1.5);
}